.card{
    background-color: black;
    width:40%;
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    border-radius: 10px;
    padding-bottom:10px;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}
div img{
    width:100%;
    border-radius: 10px 10px 0 0;
    border-s
}
div h2{
    text-align: center;
    color:white;
}
label,input{
    display: inline-block;
    width:85%;
    color:white;
    margin:0 5%;
}
input{
    height:25px;
    margin-bottom: 10px;
    background-color: rgba(240, 248, 255, 0);
    border:2px solid gold;
    border-radius: 5px;
    padding:5px;
}
label{
    margin-bottom: 5px;
}
input[type="submit"]{
    height:35px;
    width:40%;
    background-color: gold;
    color:black;
    border:none;
    border-radius: 5px;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-size: 17px;
    cursor: pointer;
    display: block;
    margin: 20px auto 15px auto;
    transition: transform 0.2s ease;

}
input[type="submit"]:hover{
    transform: translateY(-5px) translateX(1px);
    font-weight: bold;
}